* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

:root {
  --white: #fff;
  --brown: #6b5846;
  --title-font-size: 13rem;
  --big-font-size: 10rem;
  --medium-font-size: 2.4rem;
  --normal-font-size: 1.7rem;
}

html {
  font-size: 62.5%;
}

.display-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

header nav ul li a {
  color: var(--white);
  font-size: var(--normal-font-size);
  text-decoration: none;
}

.hero {
  position: relative;
  height: 100dvh;
  justify-content: end;
  background-position: center;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0000005d;
}

h1 {
  color: var(--white);
  font-size: var(--title-font-size);
  padding-left: 4rem;
}

.experience {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  background-color: var(--white);
}

.experience-text {
  opacity: 0;
  font-size: var(--big-font-size);
  text-align: center;
  color: #000;
}

.experience-imgs-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
}

.experience-imgs-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experience-img-box {
  position: absolute;
  display: flex;
  overflow: hidden;
  border-radius: 2rem;
}

.experience-img-box:first-child {
  left: 3%;
  transform: translateX(-3%) translateY(100vh);
  width: 17%;
  height: 27%;
}

.experience-img-box:nth-child(2) {
  left: 97%;
  transform: translateX(-97%) translateY(100vh);
  width: 17%;
  height: 27%;
}

.experience-img-box:nth-child(3) {
  left: 50%;
  transform: translateX(-50%) translateY(100vh);
  width: 17%;
  height: 27%;
}

.experience-img-box:nth-child(4) {
  left: 87%;
  transform: translateX(-87%) translateY(100vh);
  width: 17%;
  height: 27%;
}

.experience-img-box:nth-child(5) {
  left: 10%;
  transform: translateX(-10%) translateY(100vh);
  width: 17%;
  height: 27%;
}

.experience-img-box:nth-child(6) {
  left: 50%;
  transform: translateX(-50%) translateY(100vh);
  width: 17%;
  height: 27%;
}

.variants {
  position: relative;
  height: 100dvh;
}

.variants h3 {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: var(--white);
  font-size: var(--title-font-size);
  opacity: 0;
}

.variants p {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  color: var(--white);
  font-size: var(--medium-font-size);
  padding: 2rem;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  border-radius: 1rem;
  background-color: var(--brown);
}

.variant-1-card {
  position: absolute;
  width: 100%;
  height: 100%;
}

.variant-2-card {
  position: absolute;
  width: 100%;
  height: 100%;
}

.variant-3-card {
  position: absolute;
  width: 100%;
  height: 100%;
}

.variant-1-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.variant-2-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.variant-3-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.coffee-service {
  position: relative;
  height: 450dvh;
  width: 100%;
}

.coffee-service-imgs-container {
  position: absolute;
  margin-top: 4rem;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.coffee-service-img-box {
  position: absolute;
  display: flex;
  overflow: hidden;
}

.coffee-service-imgs-container img {
  width: 100%;
  height: 100%;
  transform: scale(1.3) translateY(-7%);
  object-fit: cover;
}

.coffee-service-img-box:first-child {
  left: 4rem;
  top: 0;
  width: 40%;
  height: 17%;
}

.coffee-service-img-box:nth-child(2) {
  right: 4rem;
  top: 10%;
  width: 30%;
  height: 17%;
}

.coffee-service-img-box:nth-child(3) {
  left: 4rem;
  top: 25%;
  height: 13%;
  width: 27%;
}

.coffee-service-img-box:nth-child(4) {
  right: 4rem;
  top: 37%;
  height: 20%;
  width: 50%;
}

.coffee-service-img-box:nth-child(5) {
  left: 4rem;
  top: 53%;
  width: 33%;
  height: 13%;
}

.coffee-service-img-box:nth-child(6) {
  right: 4rem;
  top: 67%;
  width: 45%;
  height: 17%;
}

.coffee-service-img-box:nth-child(7) {
  left: 4rem;
  top: 80%;
  width: 37%;
  height: 17%;
}

.coffee-app {
  height: 100dvh;
}
